    #dash-content{
        width: 95%;
        height: 90%;
        padding: 30px;
        margin-top: 20px;
        font-family: var(--montserrat);
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        border-radius: 10px;
        /* align-content: center; */
    }
    .account-card:not(.plan-mini-stack .account-card){
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        /* padding: 15px; */
        border-radius: 20px;
        overflow: hidden;
    }

    .account-card:not(.plan-mini-stack .account-card) h3{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 12px;
        text-transform: uppercase;
        width: 100%;
        height: 30px;
        background-color: var(--red1);
        color: #fff;
        position: relative;
    }

    .account-card:not(.plan-mini-stack .account-card) p{
        font-size: 1.4em;
        padding-top: 5px;
    }

    p{
        color: #333;
    }

    h1, h2, h3{
        color: #555;
        text-transform: uppercase;
    }

/* ====== GRID PRINCIPAL ====== */
    .account-grid{
        display:grid;
        grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
        gap:16px;
        margin-top:18px;
    }

    /* ====== PLANES EN COLUMNAS ====== */
    .plans-row{
        margin-top:18px;
        display:grid;
        grid-template-columns: repeat(3, minmax(220px, 1fr));
        gap:18px;
        align-items:start;
    }

    .plan-col{
        background:#fff;
        /* border:1px solid #e6e6e6; */
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        border-radius:25px;
        overflow: hidden;
        height: 480px;
        /* padding:14px; */
    }

    .plan-col.is-current{
        border:2px solid rgba(229, 0, 85, .3);
        /* box-shadow:0 0 0 1px var(--red1); */
    }

    .plan-col-header{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 12px;
        text-transform: uppercase;
        width: 100%;
        height: 50px;
        background-color: var(--red1);
        
        color: #fff;
        position: relative;
    }

    .plan-title{
        font-weight:800;
        font-size:18px;
        font-size: 1.4em;
    }

    .plan-badge{
        background:#fff;
        color:var(--red1);
        font-size:12px;
        padding:5px 10px;
        border-radius:999px;
        font-weight:700;
        white-space:nowrap;
        right: 20px;
        position: absolute;
    }

    /* ====== MINI CARDS ====== */
    .plan-mini-stack{
        display:flex;
        flex-direction:column;
        gap:12px;
    }

    .mini-card{
        padding:14px;
        color: #333;
        font-size: 1.2em;
    }

    .mini-card h4{
        margin-bottom:6px;
        font-size:1em;
        text-transform: uppercase;
    }

    #upgrade-button{
        width: 200px;
        height: 40px;
        font-size: 1.2em;
        background: transparent;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        border: 1px solid #e50055;
        border-radius: 0px;
        color: #e50055;
        font-weight: bold;
        padding-right: 40px;
        padding-left: 40px;
        margin-top: 20px;
        margin-bottom: 30px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 40px;
        transition: all 0.3s ease;
        cursor: pointer;
        user-select: none;
    }

    #upgrade-button:hover {
        background: #e50055;
        color: #fff;
    }

    /* ====== RESPONSIVE ====== */
    @media (max-width: 900px){
        .plans-row{
            grid-template-columns: 1fr;
        }
    }
