.invoices-page{
    /* padding: 20px; */
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    font-family: var(--montserrat);
    /* background: #f9f9f9; */
    /* border-radius: 20px; */
}

/* Header layout */
.invoice-header{
    display: grid;
    grid-template-columns: 240px 1fr;
    gap: 16px;
    align-items: start;
}

/* contenedor derecho */
.right-info{
    background: #fff;
    border-radius: 14px;
    padding: 16px;
    box-shadow: 0 10px 25px rgba(0,0,0,.06);
    width: 100%;
    display: flex;
}


.logo-box{
    width: 220px;
    min-width: 220px;
    background: #fff;
    border-radius: 14px;
    padding: 25px;
    box-shadow: 0 10px 25px rgba(0,0,0,.01);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.agency-logo{
    width: 250px;
    max-height: 200px;
    object-fit: contain;
    /* border-radius: 10px; */
    margin-left: auto;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.agency-logo.placeholder{
    width: 100%;
    height: 160px;
    border-radius: 10px;
    background: #f3f4f6;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    color: #6b7280;
}

/* agency arriba derecha */
.agency-top{
    text-align: left;
    margin-left: 20px;
    margin-top: 20px;
}

.agency-title{
    font-size: 20px;
    font-weight: 800;
    color: #111827;
    font-family: var(--montserrat);
}

.agency-line{
    margin-top: 4px;
    color: #374151;
    font-weight: 600;
    font-family: var(--montserrat);
    margin-top: 8px;
}

/* Customer block */
.customer-box{
    /* margin-top: 14px; */
    /* padding-top: 12px; */
    /* border-top: 1px solid #e5e7eb; */
    text-align: left; /* para que el cliente no quede alineado a la derecha */
    margin-left: auto;
    margin-right: 60px;
    margin-top: 80px;
}

.customer-title, .customer-line{
    font-size: 16px;
    font-weight: 800;
    color: #111827;
    font-family: var(--montserrat);
    margin: 10px auto;
}

.customer-line{
    margin-top: 3px;
    color: #374151;
    font-weight: 600;
    font-family: var(--montserrat);
}


.policies-count span{
    color: #0f172a;
}

/* Table Card */
.table-card{
    background: #fff;
    border-radius: 14px;
    padding: 16px;
    box-shadow: 0 10px 25px rgba(0,0,0,.06);
    max-height: 705px;          /* ajusta este valor a tu gusto */
    overflow-y: scroll;           /* scroll vertical */
    overflow-x: hidden;
    padding-right: 6px; 

    margin-left: auto;
    margin-right: auto;
    width: 70%;
    display: flex;
    flex-flow: wrap;
    padding-bottom: 100px;
}

.table-card::-webkit-scrollbar{
    width: 8px;
}

.table-card::-webkit-scrollbar-track{
    background: transparent;
}

.table-card::-webkit-scrollbar-thumb{
    background: #e5e7eb;
    border-radius: 10px;
}

.table-topbar{
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 12px;
    margin-bottom: 12px;
}

.btn-add-row{
    border: none;
    padding: 10px 14px;
    border-radius: 12px;
    background: #111827;
    color: #fff;
    font-weight: 800;
    cursor: pointer;
    font-family: var(--montserrat);
}

.btn-add-row:hover{
    opacity: .92;
}

.grand-total{
    font-weight: 900;
    color: #111827;
    background: #f3f4f6;
    padding: 10px 12px;
    border-radius: 12px;
    font-family: var(--montserrat);
}

/* Scroll interno de tabla */
.table-scroll{
    max-height: 360px;
    overflow: auto;
    border-radius: 12px;
    border: 1px solid #e5e7eb;
    margin-bottom: 180px;
    width: 100%;
}

.invoice-table{
    width: 100%;
    border-collapse: collapse;
    min-width: 720px;
    font-family: var(--montserrat);
}

.invoice-table thead th{
    position: sticky;
    top: 0;
    background: #f9fafb;
    z-index: 2;
    text-align: left;
    padding: 12px;
    font-weight: 900;
    color: #111827;
    border-bottom: 1px solid #e5e7eb;
}

.invoice-table tbody td{
    padding: 10px 12px;
    border-bottom: 1px solid #eef2f7;
    vertical-align: middle;
}

.cell-input{
    width: 100%;
    border: 1px solid #e5e7eb;
    border-radius: 10px;
    padding: 10px 10px;
    outline: none;
    font-weight: 600;
    font-family: var(--montserrat);
}

.row-total{
    font-weight: 900;
    color: #111827;
    white-space: nowrap;
}

.hint{
    margin-top: 10px;
    color: #6b7280;
    font-weight: 600;
    font-size: 13px;
}

/* Policy select */
.policy-select-wrap{
    margin-top: 80px;
    display: inline-flex;
    flex-direction: column;
    gap: 6px;
    margin-left: auto;
    margin-right: auto;
}


.policy-label{
    font-weight: 800;
    color: #111827;
    font-family: var(--montserrat);
}

.policy-select{
    min-width: 240px;
    border: 1px solid #e5e7eb;
    border-radius: 12px;
    padding: 10px 12px;
    font-weight: 700;
    outline: none;
    background: #fff;
    font-family: var(--montserrat);
}

.policy-small{
    font-size: 12px;
    color: #6b7280;
    font-weight: 700;
    font-family: var(--montserrat);
}

/* Trash */
.row-actions{
    width: 50px;
    text-align: left;
}

.btn-trash{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 8px;
    font-size: 1.2em;

    background: var(--red1);
    color: #fff;
    border: none;
    padding: 8px 14px;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.25s ease;
}


.btn-trash:hover{
    background: var(--red2);
}

.item-input{
    cursor: pointer;
}

.invoice-dates{
    display: flex;
    flex-flow: wrap;
    justify-content: left;
    align-items: flex-start;
    align-content: flex-start;
    gap: 10px;
    margin-bottom: 14px;
    background: #fff;
    border-radius: 14px;
    padding: 14px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, .06);
    width: 100%;
    max-height: 300px;
}

.date-row{
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-left: 10px;
    margin-right: 10px;
}

.date-label{
    font-weight: 800;
    color: #111827;
    text-align: left;
    font-family: var(--montserrat);
}

.date-select{
    max-width: 260px;
    border: 1px solid #e5e7eb;
    border-radius: 12px;
    padding: 10px 12px;
    font-weight: 700;
    outline: none;
    background: #fff;
}

/* Date inputs with calendar icon */
.date-input-wrap{
    position: relative;
    max-width: 260px;
}

.date-input{
    /* width: 100%; */
    border: 1px solid #e5e7eb;
    border-radius: 12px;
    padding: 10px 40px 10px 12px;
    font-weight: 700;
    outline: none;
    background: #fff;
    cursor: pointer;
    font-family: var(--montserrat);
}

/* Icon */
.date-icon{
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none; /* deja click al input */
    font-size: 18px;
    opacity: .75;
}

/* Opcional: hover */
.date-input:hover{
    border-color: #cbd5f5;
}

/* ========== ITEM ARROW (always visible) ========== */
.item-wrap{
    position: relative;
    width: 100%;
}




/* Flecha fija */
.item-wrap .item-arrow{
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 8px solid #111827;

    pointer-events: auto;
    cursor: pointer;

    z-index: 5; /* <-- CLAVE: queda encima del input */
    opacity: .85;
}

/* Chrome / Edge / Safari */
input[list]::-webkit-calendar-picker-indicator {
    display: none !important;
    -webkit-appearance: none;
}

/* Firefox */
input[list] {
    appearance: none;
    -moz-appearance: textfield;
}

.item-wrap.has-value .item-arrow{
    display: none;
}

.charges-box{
    background: #fff;
    border-radius: 14px;
    padding: 14px;
    box-shadow: 0 10px 25px rgba(0,0,0,.06);
    margin-bottom: 14px;
    display: flex;
    /* flex-direction: column; */
    gap: 14px;
    width: 100%;
    margin-right: 30px;
}

.charge-section{
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-bottom: 12px;
    border-bottom: 1px solid #eef2f7;
    font-family: var(--montserrat);
    margin-right: 20px;
}

.charge-section:last-child{
    border-bottom: none;
    padding-bottom: 0;
}

.charge-label{
    font-weight: 800;
    color: #111827;
    position: relative;
}

.charge-input, .charge-select{
    width: 300px;
    /* max-width: 320px; */
    border: 1px solid #e5e7eb;
    border-radius: 12px;
    padding: 10px 12px;
    font-weight: 700;
    outline: none;
    background: #fff;
    font-family: var(--montserrat);
}

.charge-input:not(#paymentMethod){
    padding-left: 30px;
    position: relative;
}

.charge-section:not([data="metododepago"]) .charge-label::before{
    content: '$';
    width: 20px;
    height: 20px;
    position: absolute;
    left: 10px;
    margin-top: 37px;
    display: block;
    z-index: 5;
}
.charge-section:not([data="metododepago"]) [data="sub-label"]::before{
    content: '$';
    width: 20px;
    height: 20px;
    position: absolute;
    left: 10px;
    margin-top: 85px;
    display: block;
    z-index: 5;
}

#paymentMethod{
    width: 300px;
}

.check-row{
    display: inline-flex;
    align-items: center;
    gap: 10px;
    font-weight: 400;
    color: #111827;
    cursor: pointer;
}

.split-fields{
    margin-top: 6px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-left: 10px;
    border-left: 3px solid var(--red1);
}

.split-block{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.table-actions-right{
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn-save-table{
    border: none;
    padding: 10px 14px;
    border-radius: 12px;
    background: #2563eb;
    color: #fff;
    font-weight: 900;
    cursor: pointer;
    font-family: var(--montserrat);
    /* position: absolute; */
    margin-top: 30px;
}

.btn-save-table:hover{
    opacity: .92;
}

.invoice-number-wrap{
    margin-top: 8px;
    display: inline-flex;
    flex-direction: column;
    gap: 6px;
    margin-left: -3px;
}

.invoice-number-label{
    color: #464646;
    margin-left: 5px;
    font-size: 14px;
    text-transform: uppercase;
    font-family: var(--montserrat);
    font-weight: 500;
}

.invoice-number-box{
    min-width: 240px;
    border: 1px solid #e5e7eb;
    border-radius: 12px;
    padding: 10px 12px;
    font-weight: 900;
    outline: none;
    background: #f9fafb;
    color: #111827;
    letter-spacing: .5px;
}

.btn-save-table:disabled{
    background: #9ca3af;
    cursor: not-allowed;
    opacity: .7;
}
