/* Tabla */
.tasks-table-container {
    margin-top: 25px;
}

.tasks-table {
    width: 100%;
    border-collapse: collapse;
    background: #2c2c2c;
    border-radius: 6px;
    overflow: hidden;
}

.tasks-table th, .tasks-table td {
    padding: 14px;
    color: #fff;
    border-bottom: 1px solid #3d3d3d;
}

.tasks-table th {
    background: #1e1e1e;
    font-weight: bold;
}

.priority.low { color: #7fbf7f }
.priority.medium { color: #e0d97a }
.priority.high { color: #e39b42 }
.priority.urgent { color: #ff5555 }

/* Overlay */
.overlay {
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.7);
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.overlay-content {
    width: 450px;
    background: gray;
    padding: 30px;
    border-radius: 12px;
}

.overlay-content h2 {
    margin-bottom: 15px;
    color: #fff;
}

.overlay-content label {
    display: block;
    margin-top: 12px;
}

.overlay-content input,
.overlay-content select,
.overlay-content textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 8px;
    border: none;
    background: #222;
    color: #fff;
}

.btns {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.btn-save {
    background: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border-radius: 8px;
}

.btn-cancel {
    background: #d9534f;
    color: #fff;
    padding: 10px 20px;
    border-radius: 8px;
}
