@import url('https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css');

#dim-screen{
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(1px);
    display: none;
    opacity: 0;
    position: absolute;
    transition: 0.5s;
}

/* Window Confirm Start */

.window-confirm{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    display: none;
    margin-top: -40px;
    transition: 0.3s;
}

.confirm-window-container {
    width: 320px;
    padding: 24px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
  }
  
.confirm-window-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
  
.confirm-window-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
  
.confirm-window-icon {
  width: 44px;
  height: 44px;
  background-color: #e0f2ff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #e0f2ff;
}
  
.confirm-window-close-btn {
  width: 28px;
  height: 28px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: 0;
}
  
.confirm-window-close-btn button {
  width: 24px;
  height: 24px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-right: 20px;
  margin-top: -15px;
  font-size: 2.6em;
  opacity: 0.5;
}

.confirm-window-close-btn button:hover{
  opacity: 0.3;
}

.confirm-window-text-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.confirm-window-title {
  font-size: 1.3rem;
  color: #1a1a1a;
  font-weight: 500;
  font-family: var(--montserrat);
  text-align: center;
}

.confirm-window-description {
  font-size: 1rem;
  color: #1a1a1a;
  font-family: var(--montserrat);
  text-align: center;
  margin-top: 5px;
}

.confirm-window-buttons {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.confirm-window-confirm-btn {
  background-color: var(--red1);
  color: white;
  border: 1px solid var(--red1);
  border-radius: 8px;
  padding: 12px;
  font-size: 1rem;
  font-weight: 600;
  font-family: var(--montserrat);
  cursor: pointer;
  text-align: center;
  width: 100%;
}

.confirm-window-confirm-btn:hover{
  background-color: var(--red2);
  border: 1px solid var(--red2);
}

.confirm-window-cancel-btn {
  background-color: #fdfdfd;
  color: #1a1a1a;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 12px;
  font-size: 1rem;
  font-weight: 600;
  font-family: var(--montserrat);
  cursor: pointer;
  text-align: center;
  width: 100%;
}

.confirm-window-cancel-btn:hover{
  background-color: #d8d8d8;
  border: 1px solid #d8d8d8;
}

/* Window Confirm End */
  
/* Toggle Button*/

.switch {
  display: inline-block;
}

.switch input {
  display: none;
}

.switch label {
  display: block;
  width: 40px;
  height: 20px;
  padding: 3px;
  padding-top: 3px;
  border-radius: 15px;
  border: 2.5px solid #444;
  cursor: pointer;
  transition: 0.3s;
  margin-left: 10px;
}

.switch label::after {
  content: "";
  display: inherit;
  width: 20px;
  height: 20px;
  border-radius: 12px;
  background: #444;
  transition: 0.3s;
}

/*Border Toggled*/
.switch input:checked ~ label {
  border-color: #444;
}

/*Ball Toggled*/
.switch input:checked ~ label::after {
  translate: 20px 0;
  background: var(--red1);
}

.switch input:disabled ~ label {
  opacity: 0.5;
  cursor: not-allowed;
}

/* Toggle Button end */ 

/*Radio Buttons*/

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #444;
}

[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}

[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: var(--red1);
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

/*Radio Buttons End*/

/* Settings Start */

#settings-menu{
  position: absolute;
  width: 50%;
  height: 80%;
  left: 50%;
  top: 50%;
  padding: 20px;
  transform: translate(-50%, -50%);
  z-index: 100;
  display: none;
  flex-flow: wrap;
  align-items: flex-start;
  align-content: flex-start;
  margin-top: 40px;
  background-color: white;
  transition: 0.3s;
  border-radius: 12px;
  overflow-x: hidden;
  overflow-y: scroll;
  border-right: 10px solid transparent;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

#table-border{
  overflow-y: hidden;
  overflow-x: hidden;
}

#settings-menu::-webkit-scrollbar-thumb{
  border-radius: 10px;
  background-color: rgba(200, 200, 200, 0.5);
  backdrop-filter: blur(4px);
}

#settings-menu::-webkit-scrollbar {
    width: 8px;
    padding-right: 10px;
    margin-right: 10px;
}

#settings-menu h2{
  width: 100%;
  text-align: center;
  font-family: var(--montserrat);
  font-size: 1.3rem;
  font-weight: 500;
}

.settings-sub-title{
  width: 90%;
  margin-left: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #888;
  font-family: var(--montserrat);
  font-style: italic;
  font-size: 1.2em;
}

#dark-mode{
  display: flex;
}

#dark-mode p{
  font-family: var(--montserrat);
  margin-left: 10px;
  margin-top: 3px;
  height: 20px;
  font-size: 1.2em;
}

#language-settings{
  display: flex;
  margin-left: 5px;
}

#language-settings p{
  margin: 5px;
  margin-right: 20px;
  font-family: var(--montserrat);
  font-size: 1.2em;
  user-select: none;
}

.color-pick-container{
  width: 100%;
  height: 40px;
  display: flex;
  flex-flow: wrap;
  margin-left: 10px;
  margin-bottom: 20px;
}

.color-pick{
  width: 50px;
  height: 50px;
  margin: 1px;
  transition: 0.3s;
  position: relative;
  overflow: hidden;
}


[color-tile="selected"]::after{
  font-family: 'boxicons' !important;
  content: '\ea46';
  color: rgba(255, 255, 255, 0.9);
  font-size: 2em;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;

  display: flex;

  justify-content: center;
  align-items: center;
  align-content: center;

  background-color: rgba(0, 0, 0, 0.3);

}

[color-action="selected"]::after{
  font-family: 'boxicons' !important;
  content: '\ea46';
  color: rgba(255, 255, 255, 0.9);
  font-size: 2em;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;

  display: flex;

  justify-content: center;
  align-items: center;
  align-content: center;

  background-color: rgba(0, 0, 0, 0.3);

}

.color-pick:hover{
  width:52px;
  height: 52px;
  cursor: pointer;
  border-radius: 10px;
  margin: 2px;
  margin-top: -3.5px;
  transition: 0.3s;
}

.color-pick[color="default"], [color="default"]{
  background-color: var(--red2);
  color: var(--red2);
}

.color-pick[color="reddish"], [color="reddish"]{
  background-color: #a80000;
  color: #a80000;
}

.color-pick[color="red"], [color="red"]{
  background-color: #c30017;
  color: #c30017;
}

.color-pick[color="orange"], [color="orange"]{
  background-color: #bc5e00;
  color: #bc5e00;
}

.color-pick[color="yellow"], [color="yellow"]{
  background-color: #d3a900;
  color: #d3a900;
}

.color-pick[color="green"], [color="green"]{
  background-color: #63a500;
  color: #63a500;
}

.color-pick[color="aquamarine"], [color="aquamarine"]{
  background-color: #00826f;
  color: #00826f;
}

/* #quick-access [color="aquamarine"]::before{
  background-color: #04594c;
  color: #04594c;
} */

.color-pick[color="blue"], [color="blue"]{
  background-color: #0095cb;
  color: #0095cb;
}

.color-pick[color="royal"], [color="royal"]{
  background-color: #122d79;
  color: #122d79;
}

.color-pick[color="purple"], [color="purple"]{
  background-color: #740ba1;
  color: #740ba1;
}

.color-pick[color="pink"], [color="pink"]{
  background-color: #cc5b76;
  color: #cc5b76;
}

.color-pick[color="gray"], [color="gray"]{
  background-color: #a8a8a8;
  color: #a8a8a8;
}

.color-pick[color="black"], [color="black"]{
  background-color: #111;
  color: #111;
}

[color="white"]{
  background-color: white;
  color: white;
}

#dash-options[color="white"] [data="sub-option"]{
  color: #555;
}

#dash-options[color="white"] [data="option"]{
  color: #333;
}

.color-pick[color="white"]{
  background-color: #fff;
  box-shadow: 0 0 0 1px rgb(208, 208, 208);
}

/*Colores Flechas Quick Access*/

.quick-item [color="default"]::before{
  background-color: var(--red2);
  filter: brightness(1.3) contrast(1.27) hue-rotate(0deg);
}

.quick-item [color="reddish"]::before{
  background-color: #a80000;
  filter: brightness(1.3) contrast(1.27) hue-rotate(0deg);
}

.quick-item [color="red"]::before{
  background-color: #c30017;
  filter: brightness(1.3) contrast(1.27) hue-rotate(0deg);
}

.quick-item [color="orange"]::before{
  background-color: #bc5e00;
  filter: brightness(1.3) contrast(1.27) hue-rotate(0deg);
}

.quick-item [color="yellow"]::before{
  background-color: #d3a900;
  filter: brightness(1.3) contrast(1.27) hue-rotate(0deg);
}

.quick-item [color="green"]::before{
  background-color: #63a500;
  filter: brightness(1.3) contrast(1.27) hue-rotate(0deg);
}

.quick-item [color="aquamarine"]::before{
  background-color: #00826f;
  filter: brightness(1.3) contrast(1.27) hue-rotate(0deg);
}

.quick-item [color="blue"]::before{
  background-color: #0095cb;
  filter: brightness(1.3) contrast(1.27) hue-rotate(0deg);
}

.quick-item [color="royal"]::before{
  background-color: #122d79;
  filter: brightness(1.3) contrast(1.27) hue-rotate(0deg);
}

.quick-item [color="pink"]::before{
  background-color: #cc5b76;
  filter: brightness(1.3) contrast(1.27) hue-rotate(0deg);
}

.quick-item [color="gray"]::before{
  background-color: #a8a8a8;
  filter: brightness(1.3) contrast(1.27) hue-rotate(0deg);
}

.quick-item [color="black"]::before{
  background-color: #111;
  filter: brightness(1.3) contrast(1.27) hue-rotate(0deg);
}

.quick-item [color="white"]::before{
  background-color: white;
  filter: brightness(1.3) contrast(1.27) hue-rotate(0deg);
}

#background-side-settings{
  display: flex;
  flex-flow: wrap;
  margin-left: 5px;
}

#background-side-settings p{
  margin: 5px;
  margin-right: 20px;
  font-family: var(--montserrat);
  font-size: 1.2em;
  user-select: none;
}

#background-color-option-container{
  width: 45%;
}

#background-image-option-container{
  width: 45%;
  margin-left: auto;
  margin-right: 10px;
}

#images-container{
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
}

.thumb-options{
  width: 65px;
  height: 65px;
  margin: 2px;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.thumb-options img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s;
  cursor: pointer;
}

.thumb-options img:hover{
  transform: scale(1.5);
  transition: 0.3s;
}

[image="selected"]::after{
  font-family: 'boxicons' !important;
  content: '\ea46';
  color: rgba(255, 255, 255, 0.9);
  font-size: 2em;
  width: 65px;
  height: 65px;
  position: absolute;
  top: 0px;

  display: flex;

  justify-content: center;
  align-items: center;
  align-content: center;

  background-color: rgba(0, 0, 0, 0.3);

}




#settings-img-option{
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}


#close-settings{
  position: absolute;
  font-size: 2.5em;
  right: 5px;
  top:5px;
  color: #444;
}

#close-settings:hover{
  color: #888;
  cursor: pointer;
}


/* SLIDER BLUR */


.slider-wrap {
  max-width: 420px;
  margin: 24px auto;
  font-family: system-ui, Arial, sans-serif;
}
.row {
  display: flex;
  align-items: center;
  gap: 12px;
}
/* Estilo base del range (ligero y compatible) */

#sideBlur-slider{
  width: 100%;
}

input[type="range"] {
  width: 100%;
  height: 6px;
  border-radius: 999px;
  background: #e5e7eb;
  outline: none;
  appearance: none;
}
input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 18px; height: 18px; border-radius: 50%;
  background: var(--red1); cursor: pointer;
}
input[type="range"]::-moz-range-thumb {
  width: 18px; height: 18px; border-radius: 50%;
  background: var(--red1); cursor: pointer; border: none;
}
.value {
  min-width: 84px;
  text-align: right;
  font-variant-numeric: tabular-nums;
}